.wrapper {
  margin: 10px 20px;
}

.wrapper h1 {
  font-size: 30px;
  font-weight: 600;
}

.header {
  margin-bottom: 5px;
  font-weight: bold;
  justify-content: space-evenly;
  display: flex;
}

.header label {
  width: 120px;
}

.action-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.action-box input {
  width: calc(25% - 10px); 
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  padding-right: 15px; 
  transition: all 0.3s ease;
  margin-right: 10px; 
}

.action-box button {
  min-width: 50px;
  height: 100%;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  border: none;
  outline: none;
  background: #9b60e9;
  border-radius: 3px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.action-box button:hover {
  background: #6106d8;
}

.action-box .msg {
  font-size: 17px;
}

.tarefa {
  min-height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 15px;
  font-size: 20px;
  cursor: pointer; 
}

.tarefa span.concluida {
  text-decoration: line-through; /* Aplica uma linha através do texto quando a tarefa estiver concluída */
}

.tarefa input[type="checkbox"] {
  margin-left: 10px; /* Adiciona uma margem à esquerda para separar o checkbox da descrição da tarefa */
}

.tarefa {
  display: flex; /* Define a div de tarefa como um flex container */
  justify-content: space-between; /* Adiciona espaço entre os elementos internos */
  align-items: center; 
}

.tarefa span {
  flex: 1; /* Ocupa o espaço disponível para a descrição da tarefa */
}

.editButton, .saveButton {
  border: none;
  cursor: pointer;  
  width: 15px;
}

.deleteButton {
  border: none;
  cursor: pointer;
}

.tarefa {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.info {
  display: flex;
  margin-bottom: 5px;
}

.label {
  width: 100px;
  font-weight: bold;
}

.value {
  flex: 1;
}

.header {
  margin-top: 20px;
}

.listaTarefas {
  display: flex;
  flex-direction: column; /* Define a direção da flexão para coluna */
}

.listaTarefas .tarefa {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente */
  justify-content: space-between; /* Espaça os itens uniformemente */
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.listaTarefas .info {
  flex: 1; /* Ocupa o espaço disponível */
  margin-right: 10px; /* Adiciona margem entre os elementos */
}

.listaTarefas .acoes {
  display: flex; /* Exibe os botões em linha */
  align-items: center; /* Alinha os botões verticalmente */
}

.listaTarefas .editButton,
.listaTarefas .deleteButton {
  margin-left: 10px; /* Adiciona margem entre os botões */
}

.texto-riscado {
  text-decoration: line-through;
}
